<div class="wrapper">
  <div class="container">
    <div class="d-flex justify-content-between mt-3">
      <h3>Tasks</h3>
      <button class="btn btn-primary" (click)="modalService.open('task')">
        Create
      </button>
    </div>

    <modal id="task">
      <div class="modal-header">
        <h5 class="modal-title">Create Tasks</h5>
        <button
          type="button"
          class="btn-close"
          (click)="modalService.close()"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="taskForm" (ngSubmit)="submit()" class="row mt-3">
          <div class="mb-3">
            <label for="name" class="form-label">Title</label>
            <app-input
              [control]="title"
              placeholder="Enter Title"
              type="name"
            ></app-input>
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Title</label>
            <app-input
              [control]="title"
              placeholder="Enter Title"
              type="textarea"
              typeInput="textarea"
            ></app-input>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="modalService.close()"
        >
          Close
        </button>
      </div>
    </modal>
  </div>
</div>
