.status-container {
  display: flex;
  overflow-x: auto;
  height: 1000px;
}

.status-column {
  flex: 0 0 auto;
  width: 300px; /* Adjust the column width as needed */
  margin-right: 10px; /* Add some spacing between columns */
  border: 1px solid #ccc;
  padding: 10px;
}

/* Customize the scrollbar styles */
.status-container::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
  border-radius: 10px;
}

.status-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 10px;
}

.status-container::-webkit-scrollbar-thumb {
  background: #888; /* Thumb color */
  border-radius: 10px;
}

.status-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* Thumb color on hover */
  border-radius: 10px;
}
