<ul>
  <li>
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
  </li>
  <li style="float: right">
    <a
      routerLink="/register"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="!(auth.isAuthenticated$ | async)"
      >Register</a
    >
  </li>
  <li style="float: right">
    <a
      routerLink="/login"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="!(auth.isAuthenticated$ | async)"
      >Login</a
    >
  </li>
  <li>
    <a
      routerLink="/profile"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="auth.isAuthenticated$ | async"
      >Profile</a
    >
  </li>
  <li>
    <a
      routerLink="/timesheet"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="auth.isAuthenticated$ | async"
      >Timesheet</a
    >
  </li>
  <li>
    <a
      routerLink="/expenses"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="auth.isAuthenticated$ | async"
      >Expenses</a
    >
  </li>
  <li>
    <a
      routerLink="/tasks"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="auth.isAuthenticated$ | async"
      >Tasks</a
    >
  </li>

  <li style="float: right">
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="auth.isAuthenticated$ | async"
      (click)="auth.logout()"
      >Logout</a
    >
  </li>
</ul>
