<ul>
  <li>
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
  </li>
  <li>
    <a
      routerLink="/profile"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Profile</a
    >
  </li>
  <li>
    <a
      routerLink="/timesheet"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Timesheet</a
    >
  </li>
  <li>
    <a
      routerLink="/expenses"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Expenses</a
    >
  </li>
  <li>
    <a
      routerLink="tasks"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Tasks</a
    >
  </li>

  <li style="float: right">
    <a
      routerLink="/login"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Login</a
    >
  </li>
  <li style="float: right">
    <a
      routerLink="/register"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Register</a
    >
  </li>
</ul>
