<div class="wrapper">
  <header>
    <h1 class="text-center mt-5 mb-5">
      Welcome to LeaveEasy - Leave Management System
    </h1>
  </header>
  <section>
    <div class="container mt-5">
      <div class="row">
        <div class="col-6 p-5">
          <img src="../../assets/lms.jpg" alt="Leave Management System" />
        </div>
        <div class="col-6 p-5">
          <h2 class="text-left">Efficiently Manage Employee Leaves</h2>
          <p class="text-left">
            LeaveEasy is a powerful Leave Management System that simplifies the
            process of managing employee leaves. From requesting and approving
            leaves to tracking balances, we've got you covered!
          </p>
          <p class="text-left">With LeaveEasy LMS, you can:</p>
          <ul class="text-left">
            <li>Submit leave requests online</li>
            <li>Get real-time leave balance updates</li>
            <li>
              Manage multiple leave types (e.g., sick leave, vacation, etc.)
            </li>
            <li>Approve or reject leave requests</li>
            <li>Generate comprehensive leave reports</li>
            <li>And much more!</li>
          </ul>
          <p class="text-left">
            Sign up today and experience hassle-free leave management for your
            organization!
          </p>
          <div class="col-12 justify-content-center d-flex mt-5">
            <button routerLink="/register" href="" class="btn btn-primary">
              Sign Up Now
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
